html {
    background-color: black;
    color: white;
    zoom: 80%;
    -ms-zoom: 80%;
    font-family: "Montserrat", Arial, sans-serif;
}

.aqua {
    color: #5ce1e6;
    transition: color 1s ease;
}

.about {
    font-size: 21px;
}

abbr {
    text-decoration: underline;
    color: #5ce1e6;
}

.race {
    font-size: 137.5%;
}

.m1 {
    text-indent: calc(100% - 70%);
    background-color: darkred;
    transition: all .4s ease;
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 0px 0px;
}

.m2 {
    text-indent: calc(100% - 90%);
    background-color: darkgreen;
    transition: all .4s ease;
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 0px 0px;
}

.m3 {
    text-indent: calc(100% - 15%);
    background-color: darkblue;
    transition: all .4s ease;
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 0px 0px;
}

.m4 {
    text-indent: calc(100% - 50%);
    background-color: goldenrod;
    transition: all .4s ease;
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 0px 0px;
}

.m1:hover {
    background-color: red;
    transition: all .4s ease;
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 3px 0px;
}

.m2:hover {
    background-color: green;
    transition: all .4s ease;
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 3px 0px;
}

.m3:hover {
    background-color: blue;
    transition: all .4s ease;
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 3px 0px;
}

.m4:hover {
    background-color: yellow;
    transition: all .4s ease;
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 3px 0px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #171717;
}

::-webkit-scrollbar-thumb {
    background: #5ce1e6;
}

::-webkit-scrollbar-thumb:hover {
    background: #45a9ad;
}